<% title "Login" %>

<%= render :partial => '/images/content_top' %>

<div class="content_bottom">
	
	<h2>Login</h2>

	<% form_for @user_session do |f| %>
	  <%= f.error_messages %>
	  <p>
	    <%= f.label :username %><br />
	    <%= f.text_field :username %>
	  </p>
	  <p>
	    <%= f.label :password %><br />
	    <%= f.password_field :password %>
	  </p>
	  <p><%= f.submit "Submit" %></p>
	<% end %>	
	
</div>








