<ul class="view_submissions">
	<li><%= image_tag(@image.image.url(:original), :height => "300") %></li>
	<li><%=  @image.entry.id.images.first.image.id %></li>
</ul>

<h1 class="big"><%= @image.id %></h1>
<h4>http://digital-whispers.net/timeline#id=<%=  @image.id%></h4>
<h4>posted by: <%= link_to @image.entry.user.username, user_path(@image.entry.user.username) %></h4>







<a title="share on twitter" class="twitter" target="_blank" href="http://twitter.com/home?status=my%20image%20on%20Digital%20Whispers:%20http://www.digital-whispers/timeline#id=<%= @image.id %>">share digital whispers on twitter</a>
<a title="share on facebook" class="facebook"  target="_blank" href="http://www.facebook.com/sharer.php?u=http://www.digital-whispers/timeline#id=<%= @image.id %>">share digital whispers on facebook</a>