

	<ul class="view_submissions">
	
		<% if @image.entry.images.count > 2 %>
		<li class="item">
			<ul id="image_carousel2">
				<% i = @image.entry.images.count %>
				<% for image in @image.entry.images.reverse %>
					<li>
						<%= image_tag(image.image.url(:medium)) %>
						<p>
							<% if @image.entry.images.count == i  %>
							Final Whisper
							<% i-=1 %>
							<% else %>
							<%= i %>. Whisper
							<% i-=1 %>
							<% end %>
						</p>	
					</li>
				<% end %>
				
			</ul>
		</li>
		<% elsif @image.entry.images.count == 2 %>
		<li class="clearfix item"><%=  image_tag(@image.entry.images.last.image.url(:medium)) %><p>Final Whisper</p></li>
		
		
		<% else %>
		
			<li class="in_progress clearfix item"><span></span><p>Whispered Version in progress</p></li>
		<% end %>
		<li class="clearfix item"><%=  image_tag(@image.entry.images.first.image.url(:medium)) %><p>Orginal Upload</p></li>
	
	
	
	
	
	

	</ul>



<h1 class="big"><%=@image.entry.created_at.hour %>:<%=@image.entry.created_at.min %></h1>
<h4>http://digital-whispers.net/timeline#id=<%=  @image.id%></h4>
<h4>posted by: <%= link_to @image.entry.user.username, user_path(@image.entry.user.username) %></h4>





<ul class="share_on">
	<li class="twitter"><a target="_blank" href="http://twitter.com/home?status=my%20image%20on%20Digital%20Whispers:%20http://www.digital-whispers/timeline">share on twitter</a></li>
	<li class="facebook"><a target="_blank" href="http://www.facebook.com/sharer.php?u=http://www.digital-whispers/timeline">share on facebook</a></li>
</ul>


