<% title "Timeline" %>

<div class="content_top" style="height: 440px">


	
	
	
</div>



<div class="content_bottom clearfix">
	


	<div id="showdetails">
		
		<ul class="view_submissions">
			
			<% if @lastentry.images.count != 1 %>
			<li class="item">
				<ul id="image_carousel">
					<% i = @lastentry.images.count %>
					<% for image in @lastentry.images.reverse %>
						<li>
							<%= image_tag(image.image.url(:medium)) %>
							<p>
								<% if @lastentry.images.count == i  %>
								Final Whisper
								<% i-=1 %>
								<% else %>
								<%= i %>. Whisper
								<% i-=1 %>
								<% end %>
							</p>	
						</li>
					<% end %>
					
				</ul>
			</li>
			<% else %>
			
				<li class="in_progress clearfix item"><span></span><p>Whispered Version in progress</p></li>
			<% end %>
			<li class="clearfix item"><%=  image_tag(@lastentry.images.first.image.url(:medium)) %><p>Orginal Upload</p></li>
		
	
		</ul>

		<h1 class="big"><%=@images.last.entry.created_at.hour %>:<%=@images.last.entry.created_at.min %></h1>
		<h4>http://digital-whispers.net/timeline#id=<%= @images.last.id%></h4>
		<h4>posted by: <%= link_to @images.last.entry.user.username, user_path(@images.last.entry.user.username) %></h4>

		<ul class="share_on">
			<li class="twitter"><a target="_blank" href="http://twitter.com/home?status=my%20image%20on%20Digital%20Whispers:%20http://www.digital-whispers/timeline">share on twitter</a></li>
			<li class="facebook"><a target="_blank" href="http://www.facebook.com/sharer.php?u=http://www.digital-whispers/timeline">share on facebook</a></li>
		</ul>
		
		
		
	</div>



	<script type="text/javascript" charset="utf-8">


		jQuery(document).ready(function() {

			jQuery('#image_carousel').jcarousel();

			$(".last_submissions a").click( function() {
			      $.ajax({
			          url: this.href,
			          dataType: "script",
			          beforeSend: function(xhr) {xhr.setRequestHeader("Accept", "text/javascript");},
			      });
			      return false;
			    });




			  if ($.fragment().id) {

					$.ajax({
			            url: "/images/"+$.fragment().id+"/showdetails",
			            dataType: "script",
			            beforeSend: function(xhr) {xhr.setRequestHeader("Accept", "text/javascript");},
			        });
			        return false;

			  } else {
				location.hash = "id="+<%= @images.last.id %>
			}


				

		});
		
		function resetID(id) {
		// id ändern
		// zeug laden
			$.ajax({
			    url: "/images/"+id+"/showdetails",
			    dataType: "script",
			    beforeSend: function(xhr) {xhr.setRequestHeader("Accept", "text/javascript");},
			});
		}

		

		var params = {
			        quality: "high",
			        wmode: "transparent"
			    };
				
	

		var flashvars = {
			baseURL: "/flash/timeline",
			imageID: $.fragment().id, // ID zum Bild das aufgerufen werden soll
			submissions: "<%= @user_submissions %>" // IDs von allen Bildern des eingeloggten Users
		};


		 swfobject.embedSWF("/flash/timeline/timeline.swf", "flashTimeline", "100%", "500", "10.0.0", "", flashvars, params);
		
		

	</script>

	
	
</div>

<style type="text/css" media="screen">
	
	.header .dw_logo {
		display: block;
	}
	
	#wrapper {
		background: white;
	}
	
	.nav_left {
		margin-left: 0 !IMPORTANT;
	}
	
</style>

